[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "braunlabuw.github.io"]
	path = braunlabuw.github.io
	url = https://github.com/braunlabuw/braunlabuw.github.io.git
	branch = master
